#about{
    opacity: 0;
}
.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0%;
    height: 0%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color) ;
    position: absolute;
    left: 0.93rem;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
    text-align: justify;

}

.about__skills{
    row-gap: 1.25rem;

}

.skills__title{
    display: flex;
    justify-content: space-between;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);

}

.skills__number{
    line-height: 1.2;
}

.skills__bar,
.skills__percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: #f1f1f1;
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.development {
    width: 80%;
    background-color: #ff801d;
}

.ui__design {
    width: 70%;
    background-color: seagreen;
}
.data {
    width: 60%;
    background-color: #164e90;
}
.DSA {
    width: 70%;
    background-color: orange;
}

.about__boxes {
    grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-content: center;
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about__box {
    display: flex;
    column-gap: 1.5rem;
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 8px 18px 8px 18px;
    cursor: pointer;
}

.about__icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about__title{
    font-size: 1.5rem;
    color: #4b5c88;
}

@keyframes appear_from_bottom{
    0%{
      transform: translateY(150px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
@media screen and (max-width:1024px) {
    .about__container{
         grid-template-columns: 720px;
         justify-content: center;
         row-gap: 1.875rem;
    } 

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left:49%;
        top: -20px;

    }

    .about__img {
        justify-self: center;
        height: 33vh;
        width: 25vh;
        border-radius: 20px; /* 둥근 모서리를 위한 반지름 값 설정 */
    }
    
    .about__boxes{
        display:ruby-text;
    }
    .about__box {
        flex-direction: column;
        row-gap: 0rem;
        text-align: center;
    }
}  

@media screen and (max-width:768px) {
    .about__container {
        grid-template-columns: 350px;
    }

    .about__data::before {
        left: 47%;
    }

    .about__data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .about__boxes {
        grid-template-rows: repeat(2,150px);
        row-gap: 1.5rem;
        display:ruby-text;
    }
    .about__box {
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 576px) {

    .about__container {
        grid-template-columns: 320px;
    }
    .about__boxes{
        display:ruby-text;
    }
}

@media screen and (max-width: 350px) {

    .about__container {
        grid-template-columns: 1fr;
    }
}

    .about__boxes {
        grid-template-columns: 1fr;
        
    }

  