#work{
    opacity: 0;
}
.work__filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.875rem;
    margin-top: 2.5rem;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

.work__item:hover {
    color: #a39fdf;
}

.work__container {
    grid-template-columns: repeat(3,1fr);
    gap: 1.875rem;
}

.work__card{
    white-space: pre-wrap;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    height: 320px;
}

.work__mask {
    background: #4b5c88;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.9;
}

.work__thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.work__category {
    color: #fff;
    font-weight: bold;
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0%;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.work__content{
    color: #fff;
    font-size: 13.3px;
    font-weight: bold;
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 5.2rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
    line-height: 1.5;
}


.work__button {
    color:#fff;
    position: absolute;
    padding: 0 5px 0 5px;
    bottom: 1.2rem;
    right: 1rem;
    display: block;
    background-color: black;
    height: 2rem;
    cursor: pointer;
    border-radius: 1vh;
    text-align: center;
    line-height: 35px;
    transition: .3s; 
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}
.work__button:hover {
    background-color: #565656;
}

.work__card:hover .work__title, 
.work__card:hover .work__category,
.work__card:hover .work__content{
    opacity: 1;
    transform: translateY(0);
}
.modal__close__text {
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    width: 30px;
    position: absolute;
    transition: all 0.1s linear;
}
.modal__close__text:hover {
    color: lightgray;
    transform: scale(1.1);
}
.modal__moreview {
    text-align: right;
    cursor: pointer;
}
.modal__title{
    padding-top: 20px;
    text-align: center;
}
.modal__main {
    display: flex;
    margin-top: 10px;
}
.modal__main__inner {
    margin-top: 10px;
}
.modal__main__inner .modal__main__title {
    font-family: "Anton SC", sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.modal__main__inner .modal__main__features {
    font-size: 17px;
    font-weight: bold;
}
.modal__main__inner .modal__main__skills {
    font-size: 15px;
}
.modal__main__skills__details {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}
.modal__skills__details__wrap {
    display: flex;
    width: 30%;
    height: 100px;
}
.modal__skills__details__wrap .modal__skills__details__inner {
    width: 65%;
    margin-left: 370px;
}
.modal__skills__details__inner .modal__skills__details__title {
    font-weight: bold;
    margin-bottom: 15px;
}
.modal__arrow__prev {
    width: 30px;
    height: 30px;
    top: 0%;
    z-index: 3;
    font-size:"25px";
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s linear;
}
.modal__arrow__prev:hover {
    transform: translateX(-10px);
}
.modal__arrow__next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0%;
    right: 3%;
    z-index: 3;
    font-size:"25px";
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s linear;
}
.modal__arrow__next:hover {
    transform: translateX(10px);
}
@keyframes appear_from_bottom{
    0%{
      transform: translateY(150px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }

@media screen and (min-width: 1800px) {

    .work__filters {
        justify-content: center;
    }
    .work__container {
        grid-template-columns: repeat(3,330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}
@media screen and (max-width: 1024px) {

    .work__filters {
        justify-content: center;
    }
    .work__container {
        grid-template-columns: repeat(2,330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: 350px;
    }
    .work__filters {
        row-gap: .25rem;
    }
    .about__skills{
        top: 10%;
    }
    .modal__main {
        display: inline;
        margin-top: 300px;
    }
    .modal__moreview {
        text-align: center;
    }
    .modal__main__skills__details {
        margin-top: 50px;
    }
    .modal__skills__details__inner {
        display: inline;
    }
}

@media screen and (max-width: 350px) {
    .work__container {
        grid-template-columns: 1fr;
    }
}